@font-face {
  font-family: 'Ovo';
  font-style: normal;
  font-weight: 400;
  src: local('Ovo'), url(http://fonts.gstatic.com/s/ovo/v7/Aghmc6rLtBjzyJR_aJZcEg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/ovo/v7/WqVRExPBh0NGpNgcgzBACQ.woff) format('woff');
}
